#headline {
    z-index: 10000;
}
#boardsearch_background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.74);
    z-index: 9998;
}
#add_boardsearch_area {
    position: fixed;
    left: calc(50% - 70vw/2);
    z-index: 9999;
}