div {
    color: #3e3e3e;
}
h1 {
    color: #3e3e3e;
}
h3 {
    color: #3e3e3e;
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}
br {
    display: block;
    content: "";
    margin: 10px 0;
}
#main {
    display: flex;
    justify-content: center;
    position: relative;
}
#my_board_area {
    width: 13%;
    margin-right: 1%;
    position: absolute;
    right: 0;
}
.my_board {
    margin-bottom: 1%;;
    background-color: lightgray;
    border: 1px solid #000;
}
.my_board_form_button {
    width: 100%;
}
.my_board_title {
    text-align: left;
    overflow-wrap:break-word;
}
#creation {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    height: 10vh;
    width: 60vw;
    border: 1px solid #000;
    border-radius: 10px;
}
#add_launch_area {
    position: fixed;
    left: calc(50% - 70vw/2);
    z-index: 5000;
}
#launch_background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.74);
    z-index: 4999;
}
.home_board_area {
    width: 70vw;
    text-align: left;
    margin-left:auto;margin-right:auto;
    margin-bottom: 3%;
    background-color: lightgrey; 
    border: 1px solid #000;
}

.board_form_button{
    width: 100%;
    text-align: left;
}
.home_tag {

}
.home_tag_area {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
