body {
  margin: 0;
}

.questionary_area {
  position: fixed;
  height:100vh;
  width: 26vw;
  /* background-color: blue; */
  border-right: 1px solid gray;
}

.btn{
  width: 20%;
  height:5%;
  position:absolute;
  bottom:0;
  right:0;
  background-color:aquamarine;
}  