body {

    margin: 0;

}

.questionary_area {

    position: fixed;

    height:100vh;

    width: 26vw;

    /* background-color: blue; */

    border-right: 1px solid gray;

}
.my-textBox {
        border:1px solid #cccccc;
        height: 10px;
        position: relative;
    }
    .my-textBox img {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    div.parent {
        position: relative; /*配置位置の基準となる指定*/
        height: 10vh;
        background: #ccc;
      }
      p.text {
        position: absolute; /*自由に配置する指定*/
        bottom: 100; /*下寄せの指定*/
        margin: 100;
      }

.btn{
    width: 20%;
  height:5%;
  position:absolute;
  bottom:0;
  right:0;
  background-color:aquamarine;
}  
.map {
    width:50%;
    height:50%;
    position:absolute;
    bottom:0;
    right:0;
    background-color:pink;
  }