body {
    background-color: #D9D9D9;
  }
  
  form {
    width: 400px;
    padding: 40px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #ffff;
    text-align: center;
  }
  
  form h1,form p {
    color: black;
    font-weight: 500;
  }
  
  form p {
    font-size: 15px;
  }
  
  form input[type = "text"],form input[type = "password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    border: 2px solid #41FF22;
    padding: 15px 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    text-align: center;
  }
  
  form input[type = "text"]:focus,form input[type = "password"]:focus {
    width: 280px;
    background-color: #f0f8ff;
  }
  
  form input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    border: 2px solid #FFC122;
    padding: 15px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 25px;
    transition: 0.25s;
    text-align: center;
    cursor: pointer;
  }
  
  form input[type = "submit"]:hover {
    background-color: #FFC122;
    border: 2px solid #FFC122;
  }
  .error{
    color: #e74c3c;
  }